.data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.data-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.data-table th,
.data-table td {
  padding: 12px 15px;
}

.data-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.data-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.data-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.data-table tbody tr:hover {
  color: #009879;
  font-weight: bold;
}
